In [1]:
import numpy as np
import pandas as pd

from numpy.random import randn

np.random.seed(101)

In [2]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],
                  ['W','X','Y','Z'])

df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

#### Conditional Selection

In [3]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [4]:
df[df > 0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [5]:
# filter our rows
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [6]:
# data from all rows where Z < 0

df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [15]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [16]:
# stack commands Y column from data with W greater than 0
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [19]:
# Re-Indexing

caps = ['NBO', 'KPL', 'DAR', 'MGSH', 'AA']

df['capital'] = caps

df.set_index('capital', inplace=True)

In [21]:
df

                W         X         Y         Z
capital
NBO      2.706850  0.628133  0.907969  0.503826
KPL      0.651118 -0.319318 -0.848077  0.605965
DAR     -2.018168  0.740122  0.528813 -0.589001
MGSH     0.188695 -0.758872 -0.933237  0.955057
AA       0.190794  1.978757  2.605967  0.683509

### Multi-Index and Index Hierarchy

In [22]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [23]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [24]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [57]:
df.loc['G1']

          A         B
1 -0.497104 -0.754070
2 -0.943406  0.484752
3 -0.116773  1.901755

In [60]:
# name the index groups
df.index.names = ['Group','Num']

df

                  A         B
Group Num
G1    1   -0.497104 -0.754070
      2   -0.943406  0.484752
      3   -0.116773  1.901755
G2    1    0.238127  1.996652
      2   -0.993263  0.196800
      3   -1.136645  0.000366

In [64]:
df.loc['G2'].loc[2]['B']

0.19679950499134005

### Cross Section selection over levels

In [25]:

df.xs('G1')

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [68]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.497104 -0.754070
G2     0.238127  1.996652